#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Phi2 Model Configuration
########################################
#
#    Phi2Model.Enabled
#        Description: (Default: 1) Enable or Disable Module. This module ask Phi2Model things regarding WOW Wotlk, be it guides, gearing, and more ..
#        Default:     0 - Disabled
#                     1 - Enabled
#

Phi2Model.Enabled = 1
